[Desktop Entry]
Type=Application
Exec=firefox %u
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[fr_FR]=firefox demarrage
Name=firefox demarrage
Comment[fr_FR]=
Comment=
